body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
    font-weight: 400;
}

.content{
    padding: 0 24px;
}

.light-gray{
    background: #f5f5f5;
}
